
{% extends 'base.html.twig' %}

{% block title %}Welcome to My Website{% endblock %}

{% block body %}
    <h1>Home Page</h1>
    <h1>Hello, welcome to my homepage!</h1>
    <p>This is a simple Twig template for the homepage.</p>
{% endblock %}
